html{
scroll-behavior: smooth;
}
*{
margin:0px;
padding:0px;
}
body {
margin: 0;
font-family: Myriad Pro, Helvetica, sans-serif;
}
.clear{
clear:both;
}
.container{
max-width:1170px;
margin:0 auto;
padding:0 15px;
}
.landing-page{
background-image:url(../images/banner.jpg);
background-repeat:no-repeat;
background-size:cover;
}
.background-overlay{
background-image: linear-gradient(#343434,#464646);
opacity: 0.9;
padding-top:0px;

}
.logo{
padding-top:50px;
}

.logo .image{
float:left;
padding-left:43px;
}
.menu-color{
float:right;
color:#fff ;
font-size:20px;
margin-right:16px;
}
.menu-icon{
vertical-align: super;
font-size:16px;
font-family:Myriad Pro;

}
.fa-bars{
font-size:30px;
margin-left:18px;
}
.heading-wrapper{
padding-top:205px;
padding-bottom:280px;
}
.heading{
font-size:70px;
font-family:Open Sans,sans-serif;
color:#fff;
font-weight:800;
text-align:center;
}
.text-color{
color:#f7600e;
}
.landing-page-para{
font-size:25px;
font-family:Myriad Pro;
color:#fff;
font-weight:300;
margin:0 auto;
text-align:center;
line-height:40px;
padding-top:3px;
padding:0 210px;
}
.button-wrapper{
text-align:center;
padding-top:65px;
}
.banner-button{
color:#fff;
padding:19px 76px;
text-decoration:none;
font-size:16px; 
background:#f7600e;
border-radius: 10px;
text-align: center;
margin:0 15px;
}
.border-button{
color:#fff;
padding:18px 57px;
text-decoration:none;
font-size:16px; 
border-radius: 10px;
text-align: center;
border:1.5px solid lightgray;
margin:0 15px;
}
/*banner end here*/
/*services end here*/
.services-wrapper{
display: flex;
flex-wrap:wrap;
justify-content: center;
padding-top:98px;
padding:101px 0 112px 0;

}

.sections{
text-align:center;
width:25%;
}
.icons{
font-size:50px;
color:#f7600e;
text-align:center;
border-radius: 50%;
background:transparent;
border:1px solid #8f969a;
margin:00px 20px;
padding:40px 42px;
display: inline-block;
}
.service-img{
vertical-align:bottom;

}

.sub-heading{
font-family:Open Sans;
font-size:16px;
color:#3b434c;
padding:30px 0;
font-weight:600;
}
.services-para{
font-size:14px;
font-family:Myriad Pro;
line-height:26px;
color:#3b434c;
padding:0 50px;
}
.news-letter{
background-image:url(../images/newsletter.jpg);
background-repeat:no-repeat;
background-size:cover;
padding:100px 0;
text-align:center;
}
.newsletter-button{
color:#fff;
padding:17px 99px;
text-decoration:none;
font-size:16px; 
background:#f7600e;
border-radius: 10px;
text-align: center;
margin:0 15px;
font-family:Open Sans;
font-weight:600;
}
.news-input{
padding:17px 20px;
width:522px; 
background:#fff;
border-radius:10px;
border:none;
}
::placeholder {
color:#3b434c;
font-family:Open Sans;
font-weight:300;
font-size:16px;
}
/*newsletter end here*/
/*gallery start here*/
.gallery{
padding:100px 0;
text-align:center;
}
.our-work-heading{
font-family:Open Sans;
font-size:35px;
font-weight:600;
}
.work-para{
font-family:Myriad Pro;
font-size:16px;
line-height:30px;
padding-top:30px;
color:#3b434c;
font-weight:300;
}
.gallery-wrapper{
display:flex;
flex-wrap:wrap;
justify-content: center;
padding-top:100px;

}

.gallery-img{
position: relative;
width: 29.8%;
margin:14px;  
display: inline-block;
}
ul{
list-style: none;
}

.gallery-image{
display:block;
width: 100%;
height: auto;
border-radius:10px;
height:360px;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color:#f7600e;
}

.gallery-img:hover.overlay {
opacity: 1;
background-image: linear-gradient(#f7600e,#f7600e);
}
.overlay:hover{
background-image: linear-gradient(#f7600e,#f7600e);
opacity:0.9;
border-radius:10px;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 44%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.button{
background-color:#fff;
color: #f7600e;
font-size: 16px;
padding: 16px 32px;
border-radius:10px;
position: absolute;
top: 60%;
left: 30%;
text-decoration:none;
}
.work-button-section{
padding-top:100px;
}
.work-button{
color:#3b434c;
padding:18px 55px;
text-decoration:none;
font-size:16px; 
border-radius: 10px;
text-align: center;
border:1.5px solid lightgray;
margin:0 15px;
display:inline-block;
font-family:Open Sans;
font-weight:600;
text-transform: uppercase;
}
/*work section end here*/
/*testimonals start here*/
.slideshow-container {
position: relative;
background-image:url(../images/testimonals.jpg);
background-repeat:no-repeat;
padding:20px 0;
}

.mySlides {
display: none;
padding: 80px;
text-align: center;
}
.client-review{
display:block;
margin:0 auto;
border-radius:50%;
width: 120px;
height: 120px;
margin-bottom:45px;

}
q{
color:#fff;
font-family:Open Sans;
font-size:25px;
font-style:italic;

}
.author{
color:#fff;
margin-top:45px;
font-family:Open Sans;
font-size:18px;
}
.arrow-wrapper{
position: relative;

}

.prev{
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -260px;
padding: 16px;
color: #888;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
font-size: 44px;
font-weight: 100;
}

.next{
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -250px;
padding: 16px;
right:0;
color: #888;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
font-size: 44px;
font-weight: 100;
} 

.prev:hover, .next:hover {
color: white;
}
/*testimonals end here*/
/*team section start here*/
.team-section{
padding:100px 0;
text-align:center;
}
.team-wrapper{
display:flex;
flex-wrap:wrap;
justify-content:center;
margin-top:135px;
}
.team-members{
width:25%;
}
.team-img{
margin:11px;
}
.team-image{
width:100%;
height:284px;
border-radius:10px;
border-bottom:5px solid transparent;
transition: width 2s;
transition:all .2s ease-in-out;
}
.team-image:hover{
width:100%;
border-bottom:5px solid #f7600e;
height:300px;
border-radius:10px;
transform: scale(1.1);
}
.team-heading{
font-family: Open Sans;
font-size:25px;
color:#3b434c;
padding-top: 27px;
}
.featuress{
text-align: center;
margin-top:28px;
}

.featuress i{
font-size:14px;
color:#fff;
width: 24px;
height: 24px;
text-align:center;
line-height:25px;
border-radius: 50%;
background:#9da1a5;
border:2px solid #9da1a5;
margin:0 10px;
}
.featuress i:hover{
background-color:white;
color:blue;
}
.team-para{
font-family:Myriad Pro;
font-size:14px;
margin-top:32px;
color:#3b434c;
line-height:26px;
}
/*team section end here*/
/*contact form start here*/
.contact-form{
text-align:center;
background-image:url(../images/contactbanner.jpg);
background-repeat:no-repeat;
padding:100px 0 98px 0;

}
.heading-color{
color:#fff;
}
.contact-para{
font-family:Myriad Pro;
font-size:16px;
line-height:30px;
padding-top:26px;
color:#fff;
}
.contact-input{
width:380px;
border-radius:10px;
border:none;
padding:17px 10px;
margin:0 12.5px;
margin-top:100px;
font-family:Open Sans;
color:#3b434c;
}
textarea{
border-radius:10px;
margin:30px 0px 45px 0px;
padding:10px;
font-family:lato;
color:#3b434c;
}
::placeholder{
font-family:lato;
color:#3b434c;
font-size:16px;
}

.contact-wrap{
width:829px;
margin:0 auto;
text-align: left;

}
.contact-button-wrapper{
text-align:left;
width:830px;
margin: 0 auto;
}
.contact-input {
width: 380px;
}
textarea{
width:808px;
}
.contact-button{
color:#fff;
padding:17px 79.2px;
text-decoration:none;
font-family: Open Sans;
font-weight: 400;
font-size:16px; 
background:#f7600e;
border-radius: 10px;
text-align: left;
}
footer{
padding:45px 0;
background:#3b434c;
color:#fff;
}
.footer-wrapper{
display: flex;
}
.footer-left{
font-family:Myriad Pro;
font-size:16px;                        
color:#fff;
flex:50%;
text-align:left;
}
.footer-right{
font-family:Myriad Pro;
font-size:16px;                        
color:#fff;
flex:50%;
text-align:right;
}

/*=====================================================
Media Queries start here
=====================================================*/


@media only screen and (max-width:915px){
.gallery-img{
width:29.8%;
margin:11px;
}
.gallery-image {  
height: auto;
}

.icons{
padding:30px 30px;
font-size:28px;
}
.services-para{
padding:0 22px;
}
.team-image {
height:auto;
}
.team-image:hover{
width:100%;
border-bottom:5px solid #f7600e;
height:auto;
border-radius:10px;
transform: scale(1.1);
}    

}

@media only screen and (max-width:885px){
.news-input{
width: 350px;
}

.newsletter-button {
padding:17px 60px;
}
.team-heading {
font-size: 19px;
}
.featuress i{
margin:0 4px;
}
.team-para{
margin-top:14px;
}
q {
font-size:16px
}
.contact-input {
width: 290px;
}
textarea{
width:630px;
}
.contact-button-wrapper {
text-align: left;
width: 657px;
margin: 0 auto;
}
.prev ,.next{
margin-top: -225px;
}

}
@media only screen and (max-width:768px){
.logo {
padding-top:50px;
}
.heading {
font-size: 60px;
}
.heading-wrapper{
padding-top:180px;
}
.landing-page-para{
font-size:20px;
padding:0 0;

} 
.border-button {
padding: 16px 40px;
}
.banner-button{
padding: 16px 60px;
}
.sections {
text-align: center;
width: 50%;
margin-top:40px;
}
.services-wrapper {
padding:50px 0;
}
.gallery-wrapper {
padding-top: 50px;
}
.gallery-img {
width: 44%;
margin: 11px;
}
.work-button-section {
padding-top: 50px;
}
.slideshow-container {
padding: 0 0;
}
.team-wrapper {
margin-top: 50px;
}  
.team-members {
width: 45%;
}
.news-input {
width: 470px;
display:block;
margin:0 auto;
margin-bottom:40px;
}
.contact-input {
width: 213px;
}
textarea{
width:473px;
}
.contact-button-wrapper {
text-align: left;
width:497px;
margin: 0 auto;
}


}
@media only screen and (max-width:568px){
.heading-wrapper {
padding-bottom: 180px;
}
.heading {
font-size: 40px;
}

.landing-page-para {
font-size: 17px;
width: 300px;
}
.border-button {
padding: 15px 12px;
}
.banner-button{
padding: 16px 30px;
}

.sections {
text-align: center;
width: 100%;
margin-top: 40px;
}

.gallery-img {
width: 95%;
margin: 11px;
}
.team-section {
padding: 50px 0;
text-align: center;
}
.team-members {
width: 80%;
}
.news-input {
width: 250px;
display:block;
margin:0 auto;
margin-bottom:40px;
}
.contact-input {
width: 380px;
margin-top: 20px;
}
textarea {
width:384px;
margin: 23px 0px 30px 0px;
}
.contact-button-wrapper {
width: 407px;
}

}
@media only screen and (max-width:568px){
.contact-input {
width:284px;
margin-top: 20px;
}
textarea {
width:283px;
margin: 23px 0px 30px 0px;
}
.contact-button-wrapper {
width:306px;
}
.contact-button {
padding: 14px 49.2px;
}

}